.bg{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    /* background-color: rgba(245, 240, 240, 0.15);   */
    background-color: white;
    backdrop-filter: blur(5px);
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
}